body {
    text-align: left;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 27px;
  margin: 0;
  background: linear-gradient(to bottom right, #4a148c, #ce93d8 );
  background-attachment: fixed;

}

a {
  text-decoration: none;
}

#wrapper {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 1px solid darkgreen;
  background-color: #f3f3f3;
}

#display-wrap {
  text-align: right;
  padding: 10px;
}

#display {
  font-size: 44px;
  margin-top: 10px;
}
